/* GLOBAL */

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: f4f4f4;
  box-sizing: border-box;
}

/* NON GLOBAL */

/* HEADER */

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px;
  /* border: 2px black solid; */
}
#header {
  /* width: 99%; */
  margin: auto;
  padding: 10px;
  background-color: #424242;
  border-bottom: 10px rgb(139, 66, 18) solid;
  /* border: 5px black solid; */
}
.container-header h1 {
  display: inline-flex;
  margin-left: 30px;
  /* border: 5px black solid; */
}
.container-header ul {
  display: inline-flex;
  list-style: none;
  gap: 40px;
  margin-right: 30px;
}
links {
  align-self: flex-end;
}
.links li a {
  text-decoration: none;
  color: white;
}
.links a:hover {
  color: red;
}
#firstname {
  color: rgb(139, 66, 18);
  font-style: italic;
  font-size: 45px;
}

/* SHOWCASE */

#showcase {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* width: 99%; */

  margin: auto;
  padding: 10px;
  min-height: 400px;
  background-image: url("images/showcase2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(69, 70, 69, 0.692);
  /* border: 2px black solid; */
}
.container-showcase {
  text-align: center;
  color: white;
}
.container-showcase h1 {
  margin-bottom: 6%;
  font-size: 50px;
}
.container-showcase p {
  font-size: 18px;
}

/* SUBSCRIPTION */

#subscribe {
  padding: 20px;
  /* border: 2px black solid; */
}
.container-subscribe {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2%;
  padding: 5px;
}
.container-subscribe h2 {
  padding-right: 30px;
  font-size: 30px;
}
.container-subscribe form {
  margin-right: 100px;
}
.button {
  font-size: 16px;
}

/* MAIN CONTENTS */

#main-contents {
  min-height: 600px;
  /* border: 2px black solid; */
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.tile {
  width: 400px;
  min-height: 500px;
  border-radius: 5%;
  border: 2px black solid;
}
.tile img {
  width: 60%;
  margin-left: 20%;
  padding-top: 30px;
  /* border: 2px black solid; */
}
.tile h4 {
  text-align: center;
  font-size: 25px;
  margin: 10px;
  /* border: 2px black solid; */
}
.tile p {
  text-align: center;
  margin: auto;
  width: 200px;
  min-height: 50px;
  padding: 20px;
  word-wrap: break-word;
  /* border: 2px black solid; */
}

/* FOOTER */

#footer {
  margin-top: 5%;
  text-align: center;
}
